* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body{
    position: relative;
}


@media (min-width: 768px) {
    header #navbar_mobile{
        display: none;
    }

}
header #navbar a{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

header #navbar a{
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0 ,0);
    transition: border-bottom 300ms;

}


.dropdown {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bolder;
    margin-top: -10px;
    float: left;
    overflow: hidden;
    z-index: 1000;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 80px;
}
#selected_home{
    color: #05a9f0;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


header #navbar a:hover {
    border-bottom: 2px solid #006bb3;;
}

#nav_media:hover, #nav_home:hover{
    color: #006bb3;
}


#links{
    display: flex;
    flex-direction: row;
}

header #navbar #nav_aboutme:hover{
    border-bottom: 1px solid rgba(0, 0, 0 ,0);
}
#nav_home{
    margin-left: 20px;
    color: black;
    margin-right: 50px;
}
#nav_aboutme{
    color: #05a9f0;
    margin-right: 50px;
}
#nav_media{
    color: black;
}


.wrapper{
    margin-top: 5vh;
    margin-left: -10vw;
    z-index: 999;
    position: relative;
}

header {
    width: 100%;
    height: 6vh;
}
footer{
    position:absolute;
    bottom: 0;
    width:100%;
    height: 1vh;   /* Height of the footer */
}

#navbar, #navbar_mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
}

.wrapper{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.title_2 h1, .title_2 h2{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

#title_me_text{
    margin-left: 10px;
    color: #05a9f0;
}
#title_me{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
#text p{
    margin-left: 10px;
}
#text:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#text{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
    margin-top: 10vh;
    grid-column: 1/4;
    height: 30vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#logo{
    margin-left: 5vw;
}
.wrapper{
    margin-left: 3vw;
}


.text_wrapper_2{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    margin-top: 0.8vh;
}

.title_2{
    display: flex;
    flex-direction: row;
}

.title_2 h1:hover{
    color: #006bb3;
    font-size: 34px;
    transform: rotate(-15deg);
}
.title_2 h2:hover{
    color: #006bb3;
    font-size: 34px;
    transform: rotate(+15deg);
}

.title_2 h1, .title_2 h2, .title_2 h3{
    color: #0099ff;
}
#particles-js{
    margin-top: -20vh;
    height: 110vh;
    width: 100vw;
}



@media (max-width: 768px) {
    header #navbar{
        display: none;
    }

    #hallo{
        font-size: 50px;
    }


    .title h2{
        font-size: 50px;
    }
    .title h1{
        font-size: 50px;
    }

    #about_me{
        margin-top: 30px;
        width: 60vw;
        height: 5vh;
    }
    footer{
        position:absolute;
        bottom: 0;
        width:100%;
        height: 10vh;   /* Height of the footer */
    }
    body{
        position: relative;
    }
}
@media (max-width: 1500px) {
    #text{
        grid-column: 2/5;
    }
    #logo{
        margin-left: 14vw;
        margin-top: 4vh;
        grid-column: 2;
        grid-row: 2;
    }
}
@media (max-width: 1385px) {
    #logo{
        margin-left: 10vw;
    }
}
@media (max-width: 1000px) {
    #logo{
        margin-left: 15vw;
    }
    #logo img{
        height: 250px;
        width: 250px;
    }
}
@media (max-width: 730px) {
    #logo{
        display: none;
    }
    #text{
        height: 40vh;
    }
}
@media (max-width: 540px) {
    #text{
        height: 60vh;
    }
}


@media (max-height: 670px) {

    .text_wrapper_2 h1, .text_wrapper_2 h2{
        font-size: 25px;
    }
    #navbar #links a{
        font-size: 20px;
    }
    header{
        height: 50px;
    }

}

@media (max-height: 1130px) {

    .text_wrapper_2 h1, .text_wrapper_2 h2{
        font-size: 30px;
        margin-top: 10px;
    }
}

@media (max-height: 812px) and (max-width: 375px) {
    #hallo{
        grid-column: 2/5;
        font-size: 30px;
    }
    .text_wrapper p{
        font-size: 30px;
    }
    .text_wrapper h1, .text_wrapper h2{
        font-size: 30px;
    }
    .text_wrapper{
        margin-top: -15px;
        grid-column: 1/5;
    }

    #subtitle{
        margin-top: -20px;
        font-size: 20px;
        grid-column: 2/5;
    }
    #about_me{
        margin-top: 60px;
        width: 70vw;
        height: 4vh;
        font-size: 30px;
    }
}



@media (max-height: 1130px) and (max-width: 320px) {

    #subtitle{
        margin-top: 10px;
    }
}

@media (max-height: 970px) {

    #navbar #links a{
        font-size: 30px;
    }
    .text_wrapper_2 h1, .text_wrapper_2 h2{
        font-size: 30px;
        margin-top: 5px;
    }

}
@media (max-height: 830px) {
    .text_wrapper_2 h1, .text_wrapper_2 h2{
        font-size: 30px;
        margin-top: -1px;
    }
    #navbar #links a{
        font-size: 25px;
    }
}
@media (max-height: 610px) {
    .text_wrapper_2 h1, .text_wrapper_2 h2{
        font-size: 20px;
    }
}
@media (max-height: 835px) {
    .text_wrapper_2 h1, .text_wrapper_2 h2{
        margin-top: 1px;
    }
}
@media (max-width: 365px) {
    #hallo{
        grid-column: 2/5;
        font-size: 30px;
    }
    .text_wrapper p{
        font-size: 30px;
    }
    .text_wrapper h1, .text_wrapper h2{
        font-size: 30px;
    }
    .text_wrapper{
        margin-top: -15px;
        grid-column: 1/5;
    }

    #subtitle{
        margin-top: -20px;
        font-size: 20px;
        grid-column: 2/5;
    }
    #about_me{
        margin-top: 60px;
        width: 70vw;
        height: 4vh;
        font-size: 30px;
    }
}
@media (max-width: 1120px) {
    .text_wrapper{
        grid-column: 2/5;
    }
}
@media (max-width: 480px) {
    .text_wrapper{
        grid-column: 2/6;
    }
}

@media (max-width: 391px) {
    .wrapper{
        height: 10px;
    }
    footer{
        display: none;
    }
    .wrapper #text{
        height: 90%;
    }
}

@media (max-width: 355px){
    .wrapper #text p{
        font-size: 20px;
    }
    .wrapper{
        height: 100px;
    }
    .wrapper #text #title_me_text, .wrapper #text h1{
        font-size: 30px;
    }
}
