* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}



@media (min-width: 768px) {
    header #navbar_mobile{
        display: none;
    }

}
header #navbar a{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

header #navbar a{
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0 ,0);
    transition: border-bottom 300ms;
    font-size: 40px;

}

header #navbar a:hover {
    border-bottom: 2px solid #006bb3;;
}

#nav_media:hover, #nav_aboutme:hover{
    color: #006bb3;
}


#links{
    display: flex;
    flex-direction: row;
}

header #navbar #nav_home:hover{
    border-bottom: 1px solid rgba(0, 0, 0 ,0);
}
#nav_home{
    margin-left: 20px;
    color: #05a9f0;
    margin-right: 50px;
}
#nav_aboutme{
    color: black;
    margin-right: 50px;
}
#nav_media{
    color: black;
}


.wrapper{
    margin-top: 5vh;
    margin-left: -10vw;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    z-index: 999;
    grid-gap: 15px;
    position: relative;
}

#hallo{
    font-size: 80px;
    grid-row: 1;
    grid-column: 2;
}
header {
    width: 100%;
    height: 6vh;
}
footer{
    position:absolute;
    bottom: 0;
    width:100%;
    height: 1vh;   /* Height of the footer */
}

#navbar, #navbar_mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
}

.wrapper, .title h1, .title h2{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bolder;
    font-size: 80px;
}
.title_2 h1, .title_2 h2{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

.text_wrapper{
    display: flex;
    flex-direction: row;
    grid-row: 2;
    grid-column: 2/4;
}

.text_wrapper_2{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    margin-top: 0.8vh;
}

.title, .title_2{
    display: flex;
    flex-direction: row;
}
#subtitle{
    margin-left: 4px;
    font-size: 25px;
    font-weight: normal;
    grid-row: 3;
    grid-column: 2/5;
}

.title h1:hover{
    color: #006bb3;
    font-size: 76px;
    transform: rotate(-15deg);
}
.title_2 h1:hover{
    color: #006bb3;
    font-size: 76px;
    transform: rotate(-15deg);
}
.title_2 h2:hover{
    color: #006bb3;
    font-size: 34px;
    transform: rotate(+15deg);
}


.title h1, .title h2, .title h3,
.title_2 h1, .title_2 h2, .title_2 h3{
    color: #0099ff;
}
.title h2:hover{
    color: #006bb3;
    font-size: 66px;
    transform: rotate(+15deg);
}
#particles-js{
    margin-top: -20vh;
    height: 110vh;
    width: 100vw;
}

#about_me{
    grid-row: 4;
    grid-column: 2/3;
    background-color: #0099ff;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    font-size: 40px;
    padding: 10px;
    opacity: 100;
    text-align: center;
}

#about_me:hover{
    background-color: #05a9f0;
}
#about_me:active{
    background-color: #006bb3;
}

@media (max-width: 768px) {
    header #navbar{
        display: none;
    }

    .wrapper{
        grid-gap: 0;
    }
    #hallo{
        font-size: 50px;
    }

    .text_wrapper{
        grid-column: 2/5;
        font-size: 50px;
    }

    .title h2{
        font-size: 50px;
    }
    .title h1{
        font-size: 50px;
    }

    #subtitle{
        font-size: 25px;
        grid-column: 2/6;
    }
    #about_me{
        margin-top: 30px;
        width: 60vw;
        height: 5vh;
    }
    footer{
        position:absolute;
        bottom: 0;
        width:100%;
        height: 10vh;   /* Height of the footer */
    }
    body{
        position: relative;
    }
}
@media (max-width: 999px) {
    .text_wrapper{
        grid-column: 2/5;
    }

    #subtitle{
        grid-column: 2/5;
    }
    #about_me{
        width: 40vw;
    }
}
@media (max-width: 490px) {
    #hallo{
        grid-column: 2/5;
    }
    .text_wrapper{
        grid-column: 2/10;
    }

    #subtitle{
        grid-column: 2/5;
    }
    #about_me{
        margin-top: 60px;
        width: 70vw;
        height: 4vh;
        font-size: 30px;
    }
}
@media (max-width: 360px) {
    #hallo{
        grid-column: 2/5;
        font-size: 40px;
    }
    .text_wrapper p{
        font-size: 40px;
    }
    .text_wrapper h1, .text_wrapper h2{
        font-size: 40px;
    }
    .text_wrapper{
        margin-top: -15px;
        grid-column: 1/10;
        margin-left: 22vw;
    }

    #subtitle{
        margin-top: -20px;
        grid-column: 2/5;
    }
    #about_me{
        margin-top: 60px;
        width: 70vw;
        height: 4vh;
        font-size: 30px;
    }
}
@media (max-width: 320px) {
    #hallo{
        grid-column: 2/5;
        font-size: 40px;
    }
    .text_wrapper p{
        font-size: 30px;
    }
    .text_wrapper h1, .text_wrapper h2{
        font-size: 30px;
    }
    .text_wrapper{
        margin-top: -15px;
        grid-column: 1/10;
        margin-left: 22vw;
    }

    #subtitle{
        margin-top: -20px;
        font-size: 20px;
        grid-column: 2/5;
    }
    #about_me{
        margin-top: 60px;
        width: 70vw;
        height: 4vh;
        font-size: 30px;
    }
}